<!-- beranda.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="Turu.ico" type="image/x-icon" />
  <!-- Logo/Icon Web -->
  <title>🤤- Beranda</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <!-- Library CSS Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
  <!-- Style Utama -->
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>
  <!-- Fixed Header -->
  <div class="row">
    <div class="column main">
      <div class="canvas-mobile beranda">
        <!-- Header Status -->
        <header class="header">
          <div class="date" id="currentDate">[Tanggal]</div>
          <div class="time" id="currentTime">[WIB]</div>
        </header>
        <!-- CONTENT PAGE -->
        <div class="content beranda center">
          <!-- <div class="center" th:if="${state}"> -->
          <div class="center">
            <button id="stopwatchBtn" class="turu-button" th:text="${state} ? '😴' : '🙂'">🙂</button>
            <br>
            <h4 id="labelBtn" th:text="${buttonLabel}"></h4>
          </div>
          <div id="stateContainer" th:data-state="${state}" th:data-start-time="${startTime}"></div>

          <!-- Timestamp and Duration Display -->
          <div class="result" id="timestampDisplay"
            th:text="${state} ? 'Mulai: ' + ${startTime} : 'Klik tombol untuk memulai'">
            Mulai:
          </div>
          <div class="result" id="durationDisplay"> </div>

          <br><br><br><br><br><br>
          <div class="subtitle">
            Data Tidur <button class="btn-pencil" data-bs-toggle="modal" data-bs-target="#editModal"
              id="editData">&#9998; </button>
          </div>
          <div class="result" id="timestampDisplay" th:text="${waktu}"></div>
          <div class="result" id="durationDisplay" th:text="${durasi}"></div>


          <br><br><br><br>
          <!-- Character Display -->
          <div class="subtitle">Skor Tidur</div>
          <div class="row">
            <div class="col result" id="mascotDisplay" th:text="${mascot}">😴</div>
            <div class="col result" id="scoreDisplay" th:text="${sleepScore}">-</div>
          </div>
          <h3 class="result" id="mascotNameDisplay" th:text="${mascotName}">Belum ada data</h3>
          <div class="result" id="mascotDescriptionDisplay" th:text="${mascotDescription}">
            Mulai tidur untuk melihat maskot Anda
          </div>

          <br><br><br><br>
          <div class="subtitle">Statistik Tidur</div>
          <div class="result" id="rangeWeek" th:text="${dateRange}">Data 7 Hari terakhir</div>

          <!-- Tambahkan Chart Tidur Mingguan -->
          <canvas id="sleepChart"></canvas>

          <!-- Button Tips -->
          <a href="/tips" class="btn btn-outline-light btn-sm tips-button">
            <i class="bi bi-moon-stars-fill"></i>
            &nbsp;Tips Tidur
          </a>
        </div>

        <!-- Floating Button -->
        <button class="floating-btn" data-bs-toggle="modal" data-bs-target="#tambahModal">
          <i class="bi bi-calendar-plus"></i> Tambah
        </button>

        <!-- Modal Input Data Tidur -->
        <div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="tambahModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="tambahModalLabel">Tambah Data Tidur</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="dataTidurForm" method="POST" action="/tambahTidur" th:object="${dataTidur}">
                  <div class="mb-3">
                    <label for="waktuMulai" class="form-label">Waktu Mulai Tidur</label>
                    <input type="datetime-local" class="form-control" name="waktuMulai" id="waktuMulai" required>
                  </div>
                  <div class="mb-3">
                    <label for="waktuSelesai" class="form-label">Waktu Bangun</label>
                    <input type="datetime-local" class="form-control" name="waktuSelesai" id="waktuSelesai" required>
                  </div>
                  <div class="error" th:if="${openModal}" th:text="${message}"></div>
                  <br><br>
                  <button class="btn btn-cancel me-3" data-bs-dismiss="modal">Kembali</button>
                  <button type="submit" class="btn btn-confirm">Simpan</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <script>
          document.addEventListener("DOMContentLoaded", () => {
              // Ensure modal opens if `openModal` is true
              let openModal = [[${openModal}]];
              if (openModal) {
                  let tambahModal = new bootstrap.Modal(document.getElementById("tambahModal"));
                  tambahModal.show();
              }
          });
        </script>
        <!-- Modal Edit Data Tidur -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Data Tidur</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="dataTidurForm" method="POST" action="/editTidur">
                  <div class="mb-3">
                    <label for="waktuMulai" class="form-label">Waktu Mulai Tidur</label>
                    <input type="datetime-local" class="form-control" id="waktuMulai" name="waktuMulai" th:value="${waktuMulaiFormatted}"  required>
                  </div>
                  <div class="mb-3">
                    <label for="waktuSelesai" class="form-label">Waktu Bangun</label>
                    <input type="datetime-local" class="form-control" id="waktuSelesai" name="waktuSelesai" th:value="${waktuSelesaiFormatted}" required>
                  </div>
                  <br><br>
                  <button class="btn btn-cancel me-3" data-bs-dismiss="modal">Kembali</button>
                  <button type="submit" class="btn btn-confirm">Simpan</button>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- Sticky Bottom Navbar -->
        <nav class="navbar navbar-expand navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/beranda}">
                <span class="bi bi-grid-fill nav-icon"></span>
                Beranda
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/radio}">
                <i class="bi bi-music-note nav-icon"></i>
                Radio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/akun}">
                <i class="bi bi-person-fill nav-icon"></i>
                Akun
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="column creators middle">
      <br><br><br>
      <h2><b>Turu</b>- <i>Aplikasi Monitoring Tidur</i></h2>
      <br>
      <samp>Creators:</samp>
      <div class="creator">
        <p th:each="creator : ${creators}">
          <span th:text="${creator.icon}">Icon</span>
          <a th:href="${creator.link}" th:text="${creator.name}" target="_blank">Name</a>
        </p>
      </div>
    </div>
    <div class="column qr middle center">
      <br><br><br>
      <img src="../asset/QR_Github_Turu.png">
      <br><br><br>
      <h5>Scan to <a href="https://github.com/TURU-template/TURU-COLLABORATION/" target="_blank"
          style="text-decoration: underline;">Get Turu!</a> 😴</h5>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/scriptHeader.js"></script>
  <script src="js/scriptBeranda.js"></script>
  <script src="js/scriptRadio.js"></script>
  <script th:inline="javascript">
    var sleepScores = /*[[${sleepScores}]]*/[];
    var dayLabels = /*[[${dayLabels}]]*/[];
    var fullDayLabels = /*[[${fullDayLabels}]]*/[];
    var dateLabels = /*[[${dateLabels}]]*/[];
    var todayIndex = 6;

    // Ganti skor 0 atau nilai kosong dengan 99
    sleepScores = sleepScores.map(score => (score === 0 || score === null ? 3 : score));

    let ctx = document.getElementById("sleepChart").getContext("2d");

    let sleepChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: dayLabels,
        datasets: [
          {
            label: "Skor Tidur",
            data: sleepScores,
            backgroundColor: sleepScores.map((score, index) => {
              if (index === todayIndex) {
                return "#514FC2"; // Warna khusus untuk todayIndex
              }
              return "#8c4fc2";
            }),
            borderWidth: 1,
          },
        ],
      },
      options: {
        layout: {
          padding: {
            top: 24, // Tambahkan jarak di bagian atas
          },
        },
        scales: {
          y: {
            beginAtZero: true,
            max: 100,
          },
        },
        interaction: {
          mode: 'index',
          intersect: false, // Memastikan hover berlaku di seluruh area, bukan hanya saat pointer berada di atas bar
        },
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
              color: "#b6b6b6",
            }
          },
          tooltip: {
            callbacks: {
              title: function (context) {
                const index = context[0].dataIndex; // Access the first element in context for the hovered item
                const value = context[0].raw; // Get the data value
                const fullDay = fullDayLabels[index];
                const date = dateLabels[index];
                return `${fullDay}, ${date}`; // Regular title for other data
              },
              label: function (context) {
                const value = context.raw; // Get the data value
                if (value === 3) {
                  return "Data Tidak Ada"; // Hide label for missing data
                }
                return `Skor: ${value}`; // Regular label for valid data
              }
            }
          },
          datalabels: {
            anchor: 'end',
            align: 'end',
            formatter: function (value) {
              return value === 3 ? "-" : value; // Display sleep score
            },
            color: 'white', // White text color for contrast
            font: {
              weight: 'bold',
              size: 12
            }
          }
        },
        scales: {
          x: {
            ticks: {
              color: function (context) {
                return context.index === todayIndex ? '#fff' : '#b6b6b6';
              },
              font: {
                weight: function (context) {
                  // Apply bold font only for today's label
                  return context.index === todayIndex ? 'bolder' : 'normal';
                },
              }
            }
          },
          y: {
            beginAtZero: true,
            max: 100, // Max score 100
            ticks: {
              color: "#b6b6b6", // Y-axis label color
            },
          }
        },
        animation: {
          duration: 1500, // Animation duration in milliseconds
          easing: "easeInSine", // Easing type
        }
      },
      plugins: [ChartDataLabels] // Include Data Labels plugin
    });
  </script>
  <script>
    function logTimestamp() {
      const localTime = new Date();
      console.log("Local Timestamp: ", localTime.toString());
    }

    // Call the function to log the timestamp
    logTimestamp();
  </script>

</body>

</html>