<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="Turu.ico" type="image/x-icon" />
  <title>Alas Tidur yang Ideal</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div class="canvas-mobile beranda">
    <!-- Header -->
    <header class="header">
      <div class="date" id="currentDate">[Tanggal]</div>
      <div class="time" id="currentTime">[WIB]</div>
    </header>

    <!-- Konten Utama -->
    <div class="content p-4">
      <h2 class="text-center mb-4 subtitle">Alas Tidur yang Ideal</h2>
      <p>
        Alas tidur yang tepat dapat memengaruhi kualitas tidur dan kesehatan tulang belakang. Berikut adalah beberapa tips dalam memilih alas tidur yang ideal:
      </p>
      <ul>
        <li><strong>Kekerasan yang Pas:</strong> Pilih alas tidur yang tidak terlalu keras atau terlalu lembut, sehingga dapat menopang tubuh dengan baik.</li>
        <li><strong>Bahan yang Nyaman:</strong> Gunakan kasur dengan bahan yang dapat mengatur suhu tubuh dan sirkulasi udara, seperti memory foam atau latex.</li>
        <li><strong>Ukuran yang Sesuai:</strong> Pastikan kasur memiliki ukuran yang sesuai dengan tubuh dan ruang tidur Anda.</li>
        <li><strong>Durabilitas Tinggi:</strong> Pilih alas tidur yang berkualitas dan tahan lama agar memberikan dukungan optimal dalam jangka panjang.</li>
        <li><strong>Perawatan Rutin:</strong> Bersihkan dan balik kasur secara rutin untuk menjaga kebersihan dan kenyamanan.</li>
      </ul>
      <p>
        Dengan memilih alas tidur yang ideal, Anda dapat meningkatkan kenyamanan tidur, mencegah nyeri tubuh, dan menjaga kesehatan tulang belakang.
      </p>

      <!-- Tombol Kembali ke Tips -->
      <div class="text-center mt-4">
        <a href="/tips" class="btn btn-primary rounded-pill w-75 mx-auto">
          Kembali ke Tips
        </a>
      </div>
    </div>
  </div>

  <script src="js/scriptHeader.js"></script>
</body>

</html>